***Saylani Class 02***

# Variables In Python

*   String
*   Boolean
*   Int
*   Float

In [ ]:
print("Hello World")

Hello World

In [1]:
# String
name = "Nasir"
print(name)
# type is used for knowing the type of any variable
print(type(name))
# id for use a memory location
id(name)

Nasir
<class 'str'>

139602863701744

In [3]:
print("Nasir said \"Today is Off \"");

Nasir said "Today is Off "

In [5]:
# multiline string (''') for print a paragraph
poem = '''Humpty Dumpty sat on a wall,
Humpty Dumpty had a great fall;
All the king's horses and all the king's men
Couldn't put Humpty together again'''
print(poem)

Humpty Dumpty sat on a wall,
Humpty Dumpty had a great fall;
All the king's horses and all the king's men
Couldn't put Humpty together again

In [10]:
# Integer
age = 15
print(age)
print(type(age))
age = int('15')
print(type(age))

15
<class 'int'>
<class 'int'>

In [7]:
# float
piNumber = 3.124
print(piNumber)

3.124

In [8]:
# Boolean
is_present = True
print(is_present)

True

# Operators In Python

+, -, /, *

*   floor
*   ceil

In [21]:
print("The Sum of 2 + 2", 2+2);
print("The Subtraction of 4 - 2",4-2);
print("The Multiplication of 3 * 3",3*3);
print("The Division of 10 / 2",10/2);

# floor round off to lower point
import math;
age = math.floor(4.3);
print(age);

# ceil round off to upper point
import math;
age = math.ceil(4.3);
print(age);

The Sum of 2 + 2 4
The Subtraction of 4 - 2 2
The Multiplication of 3 * 3 9
The Division of 10 / 2 5.0
4
5

# Keywords

- True, False
- import
- def
- if, else, else if

In [22]:
var_True = "Nasir"
print(var_True)

Nasir

# Some More Operators

In [26]:
# % modulus and it returns Remainder
age = 9%4
print(age)

1

In [33]:
# Increamental Operator
age = 15
age += 5
print(age)

# second method

age = 15
age = age + 5
print(age)

age = 15
age -= 5
print(age)

age = 10
age /= 2
print(age)

20
20
10
5.0


# Expression

In [38]:
# apply Bodmas Rule
c1 = 1 + 3 - 2 * 4
print(c1)

c2 = 1 + (3 - 2 ) * 4
print(c2)

# power will solve always at first place
c3 = 1 + (3 -2) / 2**4
print(c3)

-4
5
1.0625

# Concatenation

In [50]:
"Nasir" + "Saeed" # output 'NasirSaeed'
"Nasir","Saeed" # will convert into tuple output ("Nasir" , "Saeed")
print("Nasir" , "Saeed")

name, age, is_present

# Method One for Concatenation use for " , " , will do by default typecasting

print("Student Name :" , name)
print("Student Age : ", age)
weight = '60Kg'
print("Student Weight : " , weight)
print("Student is Present : ", is_present )

# Method Second for Concatenation use for " + "

print("Student Name :" +  name)
print("Student Age : " + str(age))
weight = '60Kg'
print("Student Weight : " +  weight)
print("Student is Present : " + str(is_present))

# Method Third for Concatenation use for " f " --> "f string"
# it will both do formatting and typecasting
print(f"Student Name :  {name} ")
print(f"Student Age : {age}" )
weight = '60Kg'
print(f"Student Weight : {weight}")
print(f"Student is Present : {is_present}")

Nasir Saeed
Student Name : Nasir
Student Age :  5.0
Student Weight :  60Kg
Student is Present :  True
Student Name :Nasir
Student Age : 5.0
Student Weight : 60Kg
Student is Present : True
Student Name :  Nasir
Student Age : 5.0
Student Weight : 60Kg
Student is Present : True

In [51]:
greet = "Hello"
separator = ","
endword = "world"
punc = "!"
print(greet, separator, endword, punc)

Hello , world !